{% extends 'base.html.twig' %}

{% block title %}{{ actor.name }}{% endblock %}

{% block body %}
    <h1>{{ actor.name }}</h1>
    <ul>
        <h2>Liste des séries où {{ actor.name }} apparait : </h2>
        {% for program in actor.programs %}
            <li><a href="{{ path('wild_show_program', {'slug': program.slug }) }}">{{ program.title }}</a></li>
        {% endfor %}
    </ul>
    <a class="align-self-end btn btn-lg mt-3" href="{{ path('wild_index_actor') }}">
        Retour aux acteurs
    </a>

{% endblock %}
