{% extends 'base.html.twig' %}
{% block title %}{{ season.program.title }} -  season {{ season.year }}{% endblock %}

{% block body %}

    <div class="d-flex flex-column p-5">
        <h1 class="titleSeason">Saison {{ season.number }} de {{ season.program.title }}</h1>
        <p>{{ season.description }}</p>
        <div class="listEpisodes ml-5">
            <p class="pt-3 pl-3 pr-3">Liste des épisodes</p>
            <ul class="pl-3 pr-3">
                {% for episode in season.episodes %}
                    <li class="ml-5"><a href="{{ path('wild_show_episode', {'slug': episode.slug}) }}">Episode {{ episode.number }} : {{ episode.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <a class="align-self-end btn btn-lg mt-3" href="{{ path('wild_show_program', {'slug': season.program.slug}) }}">
            Retour au programme
        </a>
    </div>

{% endblock %}
