{% extends 'base.html.twig' %}
{% block title %}{{ episode.title }}{% endblock %}

{% block body %}
    <div class="d-flex flex-row h-100 mt-5">
        <img class="align-self-start mr-3 p-3 h-75" src="{{ episode.season.program.poster }}" alt="{{ episode.season.program.title }} poster">
        <div class="media d-flex flex-column justify-content-between h-75 p-5">
            <div>
                <div class="media-body">
                    <h1 class="mt-0">{{ episode.title }}</h1>
                    <p>Saison {{ episode.season.number }} Episode {{  episode.number }} de {{ episode.season.program.title }}</p>
                    <p>{{ episode.synopsis }}</p>
                </div>
            </div>

            {% if app.user %}
                <h2 class="mt-4">Ajouter un commentaires :</h2>
                <div class="flex-column-reverse d-flex">
                    {% form_theme form 'bootstrap_4_layout.html.twig' %}
                    {{ form_start(form) }}
                    <button type="submit" name="btnAddComment" class="btn btn-lg">{{ button_label|default('Poster') }}</button>
                    {{ form_end(form) }}
                </div>
            {% endif %}

            <div>
                <h2 class="mt-4">Commentaires :</h2>
                <ul>
                    {% for comment in episode.comments %}
                    <li>
                        <p>{{ comment.author.username ~ ' : ' ~ comment.rate}}</p>
                        <p>{{ comment.comment }}</p>
                        {% if is_granted('ROLE_SUBSCRIBER') %}
                            {{ include('wild/episode/_delete_form.html.twig') }}
                        {%endif%}

                    </li>
                    {% endfor %}
                </ul>

            </div>

            <a class="align-self-end btn btn-lg" href="{{ path('wild_show_season', {'id': episode.season.id}) }}">
                Retour à la saison
            </a>
        </div>
    </div>

{% endblock %}
